{% extends 'base.html' %}

{% block title %}My Chats{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">

    <!-- LEFT: Conversations (Buyer & Seller) -->
    <div
      class="
        {% if is_buyer %}
          col-md-5 col-lg-4 border-end
        {% else %}
          col-12
        {% endif %}
      "
    >
      {% include "chat/_conversations_list.html" %}
    </div>

    <!-- RIGHT: Start New Chat (BUYER ONLY) -->
    {% if is_buyer %}
      <div class="col-md-7 col-lg-8">
        {% include "chat/_start_chat.html" %}
      </div>
    {% endif %}

  </div>
</div>
{% endblock %}

